#board {
    display: grid;
    max-width: 100%;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 3972fr 684fr auto;
    grid-template-areas:
        "board_fascist . phase_dependent"
        "board_liberal discard_pile phase_dependent";
    justify-items: center;
    align-items: center;
    grid-gap: 8px;
}

#phase_dependent {
    grid-area: phase_dependent;
    border: 2px dashed blue;
    color: blue;
    justify-self: stretch;
    align-self: stretch;
}

img {
    max-width: 100%;
}

#board_liberal {
    grid-area: board_liberal;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:
        586fr 463fr 122fr 462fr 122fr 457fr 121fr 463fr 121fr 465fr 590fr;
    justify-items: center;
    align-items: center;
}
