:root {
    --phase_dependent_height: 20vh;
    --gap_size: 8px;
}

body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
}

#phase_independent {
    display: grid;
    max-width: calc((100vh - var(--phase_dependent_height) - 3 * var(--gap_size)) * (684 + 3972 + 684) / 1261 / 2);
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 684fr 3972fr 684fr;
    grid-template-areas:
        "player_list board_fascist identity"
        "draw_pile board_liberal discard_pile";
    justify-items: center;
    align-items: center;
    gap: var(--gap_size);
}

#identity {
    grid-area: identity;
    align-self: start;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#board_liberal {
    grid-area: board_liberal;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:
        586fr 463fr 122fr 462fr 122fr 457fr 121fr 463fr 121fr 465fr 590fr;
    justify-items: center;
    align-items: center;
}

#player_list {
    grid-area: player_list;
    justify-self: stretch;
    align-self: stretch;
}

#player_list>div:nth-child(odd) {
    background: #eee;
}
#player_list>div:nth-child(even) {
    background: #ddd;
}
#player_list img {
    height: 1.5em;
    float: right;
    cursor: help;
}
#chancellor_icon {
    margin-right: .4em;
}
#player_list.select>div {
    cursor: pointer;
}
#player_list.select>div:hover {
    background: #444;
    color: white;
    padding-left: .8em;
}

#phase_dependent {
    margin-top: var(--gap_size);
}
#phase_dependent>div {
    display: flex;
    flex-direction: row;
    gap: var(--gap_size);
}

#vote_phase>img {
    width: calc(var(--phase_dependent_height) * 941 / 648);
    cursor: pointer;
}

#policy_phase>img {
    width: calc(var(--phase_dependent_height) * 439 / 671);
    cursor: pointer;
}
