#board {
    display: grid;
    max-width: 100%;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 684fr 3972fr 684fr;
    grid-template-areas:
        "player_list board_fascist phase_dependent"
        "draw_pile board_liberal discard_pile";
    justify-items: center;
    align-items: center;
    grid-gap: 8px;
}

#phase_dependent {
    grid-area: phase_dependent;
    border: 2px dashed blue;
    color: blue;
    justify-self: stretch;
    align-self: stretch;
}

img {
    max-width: 100%;
}

#board_liberal {
    grid-area: board_liberal;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:
        586fr 463fr 122fr 462fr 122fr 457fr 121fr 463fr 121fr 465fr 590fr;
    justify-items: center;
    align-items: center;
}

#player_list {
    grid-area: player_list;
    justify-self: stretch;
    align-self: stretch;
}

#player_list>div:nth-child(odd) {
    background: #eee;
}
#player_list>div:nth-child(even) {
    background: #ddd;
}
#player_list img {
    height: 1.5em;
    float: right;
    cursor: help;
}
#chancellor_icon {
    margin-right: .4em;
}
#player_list.select>div {
    cursor: pointer;
}
#player_list.select>div:hover {
    background: #444;
    color: white;
    padding-left: .8em;
}
